{% extends "screenAddictBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block top %}
	{{ parent() }}
{% endblock %}

{% block menu %}
<button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
	<i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right" id="menu">
	<li class="mdl-menu__item" id="usernamemenu" disabled>{{ app.user.username|capitalize }}</li>
	<hr id="hr" />
	<a  href="{{path('account')}}"><li class="mdl-menu__item">Compte</li></a>
	<a  href="{{path('logout')}}"><li class="mdl-menu__item">Se déconnecter</li></a>
</ul>
{% endblock %}

{% block body %}
<div>
	<div class="leftbodymain">
	</div>

	<div class="bodymain">
		{{form_start(mailForm)}}
			<div class="mdl-textfield mdl-js-textfield">
				{{form_widget(mailForm.mail,{'id':'mail','attr':{'class':'mdl-textfield__input'}} ) }}
				<label class="mdl-textfield__label" for="mail">Ancien mail</label>
				<span class="mdl-textfield__error" id="spanerror">{{errormail}}</span>
			</div>
			<br />
			<div class="mdl-textfield mdl-js-textfield">
				{{form_widget(mailForm.newmail,{'id':'nmail','attr':{'class':'mdl-textfield__input'}} ) }}
				<label class="mdl-textfield__label" for="nmail">Nouveau mail</label>
			</div>
			<br />
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
				Confirmer
			</button>
		{{form_end(mailForm)}}

		{{form_start(pwdForm)}}
			<div class="mdl-textfield mdl-js-textfield">
				{{form_widget(pwdForm.password,{'id':'pwd','attr':{'class':'mdl-textfield__input'}} ) }}
				<label class="mdl-textfield__label" for="pwd">Mot de passe</label>
				<span class="mdl-textfield__error" id="spanerrorpwd">{{errorpwd1}}</span>
			</div>
			<br />
			<div class="mdl-textfield mdl-js-textfield">
				{{form_widget(pwdForm.newpassword,{'id':'npwd','attr':{'class':'mdl-textfield__input'}} ) }}
				<label class="mdl-textfield__label" for="npwd">Nouveau mot de passe</label>
			</div>
			<br />
			<div class="mdl-textfield mdl-js-textfield">
				{{form_widget(pwdForm.newpasswordconfirm,{'id':'ncpwd','attr':{'class':'mdl-textfield__input'}} ) }}
				<label class="mdl-textfield__label" for="ncpwd">Confirmation mot de passe</label>
				<span class="mdl-textfield__error" id="spanerrornpwd">{{errorpwd2}}</span>
			</div>
			<br />
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
				Confirmer
			</button>
		{{form_end(pwdForm)}}
	</div>
</div>

<script>

var spanerror = document.getElementById('spanerror');
if(spanerror.value != "")
{
	spanerror.style.visibility = "visible";
}

var spanerror = document.getElementById('spanerrorpwd');
if(spanerror.value != "")
{
	spanerror.style.visibility = "visible";
}

var spanerror = document.getElementById('spanerrornpwd');
if(spanerror.value != "")
{
	spanerror.style.visibility = "visible";
}

</script>
{% endblock %}
