{% extends "screenAddictBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block top %}
	{{ parent() }}
{% endblock %}

{% block menu %}
<button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
	<i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right" id="menu">
	<li class="mdl-menu__item" id="usernamemenu" disabled>{{ app.user.username|capitalize }}</li>
	<hr id="hr" />
	<a  href="{{path('account')}}"><li class="mdl-menu__item">Compte</li></a>
	<a  href="{{path('logout')}}"><li class="mdl-menu__item">Se déconnecter</li></a>
</ul>
{% endblock %}

{% block drawer %}
<div class="mdl-layout__drawer">
	<span class="mdl-layout-title">Title</span>
	<nav class="mdl-navigation">
		<a class="mdl-navigation__link" href="">Link</a>
		<a class="mdl-navigation__link" href="">Link</a>
		<a class="mdl-navigation__link" href="">Link</a>
		<a class="mdl-navigation__link" href="">Link</a>
	</nav>
</div>
{% endblock %}

{% block body %}
<div>
	<div class="leftbodymain">
	</div>

	<div class="bodymain">
	</div>
</div>

<script>



</script>
{% endblock %}
