{% extends "screenAddictBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Film {{id_film}}{% endblock %}




{% block top %}
{{ parent() }}
{% endblock %}

{% block menu %}
<button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
	<i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right" id="menu">
	<li class="mdl-menu__item" id="usernamemenu" disabled>{{ app.user.username|capitalize }}</li>
	<hr id="hr" />
	<a  href="{{path('account')}}"><li class="mdl-menu__item">Compte</li></a>
	<a  href="{{path('logout')}}"><li class="mdl-menu__item">Se déconnecter</li></a>
</ul>
{% endblock %}

{% block drawer %}
<div class="mdl-layout__drawer">
	<span class="mdl-layout-title">Title</span>
	<nav class="mdl-navigation">
		<a class="mdl-navigation__link" href="">Link</a>
		<a class="mdl-navigation__link" href="">Link</a>
		<a class="mdl-navigation__link" href="">Link</a>
		<a class="mdl-navigation__link" href="">Link</a>
	</nav>
</div>
{% endblock %}

{% block body %}
	<div>
		<style>
		.demo-card-wide.mdl-card {
		  	width: 50%;
			position:absolute;
			left:25%;
		}
		.demo-card-wide > .mdl-card__title {
		  	color: #fff;
		  	height: 176px;
		  	background: url('../assets/demos/welcome_card.jpg') center / cover;
		}
		.demo-card-wide > .mdl-card__menu {
		  	color: #fff;
		}
		</style>
		<div class="demo-card-wide mdl-card mdl-shadow--2dp" id="card">
		  	<div class="mdl-card__supporting-text">
				<div id="infos">
				</div>
		  	</div>
			<div class="mdl-card__actions mdl-card--border" id="button">
			</div>
		</div>
	</div>

	<script>
		var film_details = {{film_details|raw}};
		var film_crew = {{film_crew|raw}};

		var cardheight = 455 + (film_details.overview.length / 136)*25;
		document.getElementById("card").style.height = cardheight+"px";

		var t = document.getElementById("infos");
		var button = document.getElementById("button");

		var btn = document.createElement("a");
		btn.setAttribute("href","{{path('ajoutFilm',{'id_film': id_film})}}");
		btn.setAttribute("class","mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect");

		var btntext = document.createTextNode("Ajouter film");

		btn.appendChild(btntext);
		button.appendChild(btn);

		var divparent = document.createElement('div');
		var divimage = document.createElement('div');
		var divinfo = document.createElement('div');
		var divdesc = document.createElement('div');

		var staro = document.createElement('div');
		staro.setAttribute("class","stars-outer");
		var stari = document.createElement('div');
		stari.setAttribute("class","stars-inner");

		staro.appendChild(stari);

		notec = film_details.vote_average * 10;
		stari.style.width = notec+"%";

		divimage.setAttribute("id","filmdivimage");
		divinfo.setAttribute("id","filmdivinfo");
		divdesc.setAttribute("id","filmdivdesc");

		var ptitre = document.createElement('h3');
		var pdate = document.createElement('h5');
		var preal = document.createElement('h5');
		var pactors = document.createElement('h5');
		var pgenre = document.createElement('h5');
		var pdesc = document.createElement('p');

		var image = document.createElement('IMG');
		image.setAttribute("src","http://image.tmdb.org/t/p/w185"+film_details.poster_path)

		var titre = document.createTextNode(film_details.title);
		var date = document.createTextNode('Date de sortie: '+film_details.release_date);
		var real = document.createTextNode('Réalisateur: '+film_crew.crew[0].name);

		var act = "Acteurs: ";
		for(var i = 0; i < 3; i++)
		{
			act += film_crew.cast[i].name + "(" + film_crew.cast[i].character + ")"
			if(i!=2)
				act+=",";
			else act += ",...";
		}

		var actors = document.createTextNode(act);

		var gen = "Genre: "
		for(var i = 0; i < film_details.genres.length; i++)
		{
			gen += film_details.genres[i].name;
			if(i != film_details.genres.length - 1)
				gen += ",";
		}

		var genre = document.createTextNode(gen);
		var desc = document.createTextNode('Description: '+film_details.overview);

		ptitre.appendChild(titre);
		pdate.appendChild(date);
		preal.appendChild(real);
		pactors.appendChild(actors);
		pgenre.appendChild(genre);
		pdesc.appendChild(desc);

		divimage.appendChild(image);

		divinfo.appendChild(pdate);
		divinfo.appendChild(preal);
		divinfo.appendChild(pactors);
		divinfo.appendChild(pgenre);
		divinfo.appendChild(staro);

		divdesc.appendChild(pdesc);
		divparent.appendChild(ptitre);
		divparent.appendChild(divimage);
		divparent.appendChild(divinfo);
		divparent.appendChild(divdesc);

		t.appendChild(divparent);




	</script>
{% endblock %}
