{% extends "screenAddictBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}


{% block body %}

    {% block top %}
	<div>
		{{ parent() }}

        <div id = "enteted">
            <form action="{{ path('login_check') }}" method="post">
              <label for="username" class="labelLogin">Login :</label>
              <input type="text" id="username" name="_username" value="{{ last_username }}" />
			  <br />
              <label for="password" class="labelLogin">Mot de passe :</label>
              <input type="password" id="password" name="_password" />
              <br />
              <input type="submit" value="Connexion" id="buttonLogin" />
            </form>

            {% if error %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endif %}
        </div>
	</div>

	{% endblock %}

    <div id="descdiv">
        <h1>BONJOUR</h1>
        <p>
            Bienvenue sur notre réseau social dédié aux séries.
            Nous espérons que vous partagerez ce site pour que nous nous fassions un sacré paquet de pognon.
            Nous envisageons d'intégrer des loot box lors de la prochaine maj &num;moremoney.
            Avec cet argent, nous irons aux Bahamas pendant que vous serez sur notre site nul qui permet de voir quelles séries vous avez regardé.
            Vous pourrez aussi avoir des amis mais vous en avez pas donc c'est une fonctionnalité inutile qu'on va bacler.
        </p>
        <p>
            Bienvenue sur notre réseau social dédié aux séries.
            Nous espérons que vous partagerez ce site pour que nous nous fassions un sacré paquet de pognon.
            Nous envisageons d'intégrer des loot box lors de la prochaine maj &num;moremoney.
            Avec cet argent, nous irons aux Bahamas pendant que vous serez sur notre site nul qui permet de voir quelles séries vous avez regardé.
            Vous pourrez aussi avoir des amis mais vous en avez pas donc c'est une fonctionnalité inutile qu'on va bacler.
        </p>
        <p>
            Bienvenue sur notre réseau social dédié aux séries.
            Nous espérons que vous partagerez ce site pour que nous nous fassions un sacré paquet de pognon.
            Nous envisageons d'intégrer des loot box lors de la prochaine maj &num;moremoney.
            Avec cet argent, nous irons aux Bahamas pendant que vous serez sur notre site nul qui permet de voir quelles séries vous avez regardé.
            Vous pourrez aussi avoir des amis mais vous en avez pas donc c'est une fonctionnalité inutile qu'on va bacler.
        </p>
    </div>

    <div id="regdiv">
        {{ form(regForm) }}
    </div>

{% endblock %}
