{% extends "screenAddictBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Page principale{% endblock %}


{% block top %}
{{ parent() }}
{% endblock %}

{% block searchbar %}
<div id="searchBar">
	<div id="recherche">
		{{ form_start(rech) }}
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
			<label class="mdl-button mdl-js-button mdl-button--icon" for="labelres">
				<i class="material-icons">search</i>
			</label>
			<div class="mdl-textfield__expandable-holder" id="holderResearch">
				{{ form_widget(rech.recherche, {'id': 'labelres','attr':{'class': 'mdl-textfield__input'}}) }}
				{{ form_label(rech.recherche, 'Recherche', {'for':'sample-expandable','label_attr': {'class': 'mdl-textfield__label'}}) }}
			</div>
		</div>
		{{ form_end(rech) }}
	</div>


	<div id="ajax-results"></div>
</div>
{% endblock %}

{% block switchamifilm %}
<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
{% endblock %}

{% block menu %}
<button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
	<i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right" id="menu">
	<li class="mdl-menu__item" id="usernamemenu" disabled>{{ app.user.username|capitalize }}</li>
	<hr id="hr" />
	<a  href="{{path('account')}}"><li class="mdl-menu__item">Compte</li></a>
	<a  href="{{path('logout')}}"><li class="mdl-menu__item">Se déconnecter</li></a>
</ul>
{% endblock %}

{% block body %}
<div>

	<div class="leftbodymain"></div>
	<div class="bodymain">
		{{ form_start(mesform) }}
		  	<div class="mdl-textfield mdl-js-textfield" id="holderMessage">
		    	{{ form_widget(mesform.message,{'id': 'labelmes','attr': {'class': 'mdl-textfield__input'}}) }}
				{{ form_label(mesform.message, 'Entrez votre message', {'for':'labelmes','label_attr': {'class': 'mdl-textfield__label'}}) }}
		  	</div>
		{{ form_end(mesform) }}

		<style>
		.demo-card-wide.mdl-card {
			width:100%;
			margin-top:20px;
		}
		.demo-card-wide > .mdl-card__title {
			color: #000;
			height: 160px;
			background: url('../assets/demos/welcome_card.jpg') center / cover;
		}
		.demo-card-wide > .mdl-card__menu {
			color: #fff;
		}
		</style>

		{% for message in messageList %}
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">{{message.content}}</h2>
			</div>
			<div class="mdl-card__supporting-text">
				le  {{message.datePost|date("j F \\à g:i", "Europe/Paris")}}
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-js-button mdl-button--primary" href="{{path('user',{'id_ami': message.idAuthor})}}">
					{{message.usernameAuthor}}
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<script>
var form = document.getElementById("res");

$('#labelres').focusout(function(){
	setTimeout(function(){
	    var t = document.getElementById("ajax-results");
	    while (t.firstChild) {
	        t.removeChild(t.firstChild);
    	}
  	}, 200);
});

var typingTimer;                //timer identifier
var doneTypingInterval = 500;  //time in ms (0.5 seconds)

//on keyup, start the countdown
$('#labelres').keyup(function(){
	clearTimeout(typingTimer);
	if ($('#labelres').val()) {
		typingTimer = setTimeout(doneTyping, doneTypingInterval);
	}
});

$('#labelres').keydown(function(event){
	if(event.keyCode == 13) {
      	event.preventDefault();
      	return false;
    }
});

var formmes = document.getElementById("mes");
$('#labelmes').keydown(function(event){
	if(event.keyCode == 13) {
		event.preventDefault();
		formmes.submit();
    }
});

//user is "finished typing," do something
function doneTyping () {
	if(document.getElementById("myonoffswitch").checked)
	{//Si on recherche un film
		$.ajax({
			url:'{{ (path('rechercher')) }}',
			type: "POST",
			dataType: "json",
			data: {'recherche' : $('#labelres').val()},
			async: true,
			success: function (data)
			{
				parsedData = JSON.parse(data.output);

				//vider toutes les div dans #ajax-results
				var t = document.getElementById("ajax-results");
				while (t.firstChild) {
					t.removeChild(t.firstChild);
				}

				for(var i = 0; i < parsedData.results.length; i++)
				{
					var hr = document.createElement('HR');

					var lien = document.createElement('a');
					var url = '{{path('film',{'id_film': 'idofthefilmtoreplace'})}}';
					url = url.replace("idofthefilmtoreplace", parsedData.results[i].id);
					lien.setAttribute("href",url);

					var divparent = document.createElement('div');
					var divimage = document.createElement('div');
					var divinfo = document.createElement('div');

					divimage.setAttribute("id","iddivimage");
					divinfo.setAttribute("id","iddivinfo");

					var ptitre = document.createElement('p');
					var pdesc = document.createElement('p');
					var pdate = document.createElement('p');

					var image = document.createElement('IMG');
					image.setAttribute("src","http://image.tmdb.org/t/p/w92"+parsedData.results[i].poster_path)

					var titre = document.createTextNode('Titre: '+parsedData.results[i].title);
					var desc = document.createTextNode('Description: '+parsedData.results[i].overview);
					var date = document.createTextNode('Date de sortie: '+parsedData.results[i].release_date);

					ptitre.appendChild(titre);
					pdesc.appendChild(desc);
					pdate.appendChild(date);

					divimage.appendChild(image);
					divinfo.appendChild(ptitre);
					divinfo.appendChild(pdesc);
					divinfo.appendChild(pdate);
					divparent.appendChild(divimage);
					divparent.appendChild(divinfo);
					divparent.appendChild(hr);

					lien.appendChild(divparent);

					t.appendChild(lien);
				}
			}
		});
	}
	else
	{//si on recherche un ami
		$.ajax({
			url:'{{ (path('rechercherAmi')) }}',
			type: "POST",
			dataType: "json",
			data: {'recherche' : $('#labelres').val()},
			async: true,
			success: function (data)
			{
				parsedData = JSON.parse(data.output);

				//vider toutes les div dans #ajax-results
				var t = document.getElementById("ajax-results");
				while (t.firstChild) {
					t.removeChild(t.firstChild);
				}

				var hr = document.createElement('HR');

				var lien = document.createElement('a');
				var url = '{{path('user',{'id_ami': 'idofthefriendtoreplace'})}}';
				url = url.replace("idofthefriendtoreplace", parsedData.id);
				lien.setAttribute("href",url);

				var divinfo = document.createElement('div');

				var pusername = document.createElement('p');
				var pfname = document.createElement('p');
				var pname = document.createElement('p');

				var username = document.createTextNode('Nom d\'utilisateur: '+parsedData.username);
				var fname = document.createTextNode('Prenom: '+parsedData.fname);
				var name = document.createTextNode('Nom: '+parsedData.name);

				pusername.appendChild(username);
				pfname.appendChild(fname);
				pname.appendChild(name);

				divinfo.appendChild(pusername);
				divinfo.appendChild(pfname);
				divinfo.appendChild(pname);
				divinfo.appendChild(hr);

				lien.appendChild(divinfo);

				t.appendChild(lien);

			}
		});
	}
}
</script>

{% endblock %}
