{% extends "screenAddictBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Page principale{% endblock %}

{% block body %}

	<div>
		<h1 href="{{ path('home')}}">screenAddict</h1>

		{{ form(rech) }}
	</div>

		<div id="leftbodymain">
			<p id="menuRoot">
				{{ app.user.username }}
			</p>
			<div id="menuUser">
				{{ knp_menu_render('screenAddictBundle:Builder:menuUser') }}
			</div>
		</div>

		<div id="bodymain">
			{{ form(mesform)}}
			{% for message in messageList %}
				<div id="posts">
					<p>{{message.content}}</p>
					par : {{message.usernameAuthor}} le {{message.datePost|date("d/m/Y")}}
				</div>
			{% endfor %}
		</div>

		<div id="rightbodymain">
		</div>

	</div>

	<script>
		var list = document.getElementsByTagName("input");
		list[0].onclick = function() {clear()};
		list[0].onfocusout = function() {focusout()};

		var menuRoot = document.getElementById("menuRoot");
		var menuUser = document.getElementById("menuUser");
		var isMenuUserDeployed = false;
		menuUser.style.visibility = "hidden";
		menuRoot.onmousedown = function() {showMenu()};

		function clear()
        {
            list[0].value="";
        }

		function focusout()
        {
            list[0].value="Entrez votre message";
        }

		function showMenu()
		{
			if(!isMenuUserDeployed){
				menuUser.style.visibility = "visible"
				isMenuUserDeployed = true;
			}
			else {
				menuUser.style.visibility = "hidden"
				isMenuUserDeployed = false;
			}
		}
	</script>

{% endblock %}
