{% extends "screenAddictBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Page principale{% endblock %}


{% block body %}
	<div>
		<form action="{{ path('logout') }}" method="post">
			<input type="submit" value="Déconnection" />
		</form>
	</div>

	<div>
		<div id="leftbodymain">
		</div>

		<div id="bodymain">
			{{ form(mesform)}}
			{% for message in messageList %}
				<div id="posts">
					<p>{{message.content}}</p>
					par : {{message.usernameAuthor}} le {{message.datePost|date("d/m/Y")}}
				</div>
			{% endfor %}
		</div>

		<div id="rightbodymain">
		</div>
	</div>

	<script>
		var list = document.getElementsByTagName("input");
		list[1].onclick = function() {clear()};
		list[1].onfocusout = function() {focusout()};

		function clear()
        {
            list[1].value="";
        }

		function focusout()
        {
            list[1].value="Entrez votre message";
        }

	</script>
{% endblock %}
