{% extends "screenAddictBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block top %}
{{ parent() }}
{% endblock %}

{% block menu %}
<button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
	<i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right" id="menu">
	<li class="mdl-menu__item" id="usernamemenu" disabled>{{ app.user.username|capitalize }}</li>
	<hr id="hr" />
	<a  href="{{path('account')}}"><li class="mdl-menu__item">Compte</li></a>
	<a  href="{{path('logout')}}"><li class="mdl-menu__item">Se déconnecter</li></a>
</ul>
{% endblock %}

{% block body %}
	<div>
		<div class="leftbodymain">
			<div id="infosUser">
			</div>
		</div>

		<div class="bodymain">

			<style>
				.demo-card-wide.mdl-card {
				margin-top:20px;
				width: 100%;
				}
				.demo-card-wide > .mdl-card__title {
				color: #000;
				height: 176px;
				background: url('../assets/demos/welcome_card.jpg') center / cover;
				}
				.demo-card-wide > .mdl-card__menu {
				color: #fff;
				}
			</style>

			{% for message in messages %}
				<div class="demo-card-wide mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">{{message.content}}</h2>
					</div>
					<div class="mdl-card__supporting-text">
						le  {{message.datePost|date("j F \\à g:i", "Europe/Paris")}}
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{path('user',{'id_ami': message.idAuthor})}}">
					  		{{message.usernameAuthor}}
						</a>
					</div>
					<div class="mdl-card__menu">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
					  	<i class="material-icons">share</i>
					</button>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="rightbodymain">
		</div>
	</div>

	<script>

        var id_ami = '{{id_ami|raw}}';
        var username = '{{username}}';
        var fname = '{{fname}}';
        var name = '{{name}}';
        var bdate = '{{bdate|date("d/m/Y")}}';

        var t = document.getElementById("infosUser");
        var divinfos = document.createElement('div');
        var pCompleteName = document.createElement('h2');
        var pUsername = document.createElement('h4');
        var pBdate = document.createElement('h4');

        var tcompleteName = document.createTextNode(fname+" "+name);
		var tusername = document.createTextNode('@'+username);
		var tbdate = document.createTextNode('Né le: '+bdate);

        pCompleteName.appendChild(tcompleteName);
        pUsername.appendChild(tusername);
        pBdate.appendChild(tbdate);

        divinfos.appendChild(pCompleteName);
        divinfos.appendChild(pUsername);
        divinfos.appendChild(pBdate);

		//Si il s'agit de la page de l'utilisateur courant, on n'affiche pas le bouton

		var id_ami = {{id_ami}};
		var id_user = {{id_user}};

		if(id_ami != id_user)
		{
	        var btn = document.createElement("input");
			btn.setAttribute("type","submit");
			btn.setAttribute("value","Ajouter ami");

			var form = document.createElement("form");
			form.setAttribute("id","buttonAjoutAmi");
			form.setAttribute("action","{{path('ajoutAmi',{'id_ami': id_ami})}}");

			form.appendChild(btn);
	        divinfos.appendChild(form);
		}

        t.appendChild(divinfos);

	</script>

{% endblock %}
