<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
	{% block stylesheets %}
	    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
	    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
	{% endblock %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <title>{% block title %}screenAddict{% endblock %}</title>
  </head>
  <body>

    {% block body %}
		{% block top %}
			<div id="enteteg">
				<a href="{{ path('home')}}">screenAddict</a>
			</div>
		{% endblock %}

    {% endblock %}
  </body>
</html>
